/*Somoroff CSS*/
#fp59e0dfe51a312{
    width:75%;
    /*padding-top:56.25%;*/
}

/*#somoroffdisplay{
	width:50%;
	height:40%;
}*/


/*#somoroffdisplay > div:nth-child(2){
	height:100%;
}*/

.reelrequest{
	position: absolute;
	top:2400%;
	left:42%;
}



.directorvim > div > p > code > a > img{
	width: 100%;
	position: absolute;
	top:5vh;
	right:2%;
	z-index:74;
}

@media only screen and (max-width: 420px) {
	/*.directorvim{
		position: absolute;
		bottom:20%;
	}

	.directortext{
		width: 110%;
	}*/
}


/*Justin Levine CSS*/

#fp59e0dfe51a312{
    width:75%;
    /*padding-top:56.25%;*/
}

/*#somoroffdisplay{
	width:50%;
	height:40%;
}*/


/*#somoroffdisplay > div:nth-child(2){
	height:100%;
}*/

.reelrequest{
	position: absolute;
	top:2400%;
	left:42%;
}



#justinvim > div > a > img{
	width: 95%;
	position: absolute;
	top:10vh;
	right:2%;
	z-index:74;
}

@media only screen and (max-width: 420px) {
	/*.directorvim{
		position: absolute;
		bottom:20%;
	}

	.directortext{
		width: 110%;
	}*/
}

/*Vitorio's CSS*/


#fp59e0dfe51a312{
    width:75%;
    /*padding-top:56.25%;*/
}

/*#somoroffdisplay{
	width:50%;
	height:40%;
}*/


/*#somoroffdisplay > div:nth-child(2){
	height:100%;
}*/

.reelrequest{
	position: absolute;
	top:2400%;
	left:42%;
}



#vittoriovim > div > a > img{
	width: 95%;
	position: absolute;
	top:10vh;
	right:2%;
	z-index:74;
}

@media only screen and (max-width: 420px) {
	/*.directorvim{
		position: absolute;
		bottom:5%;
	}*/

	/*.directortext{
		width: 110%;
	}*/
}

/*Etienne CSS*/

#fp59e0dfe51a312{
    width:75%;
    /*padding-top:56.25%;*/
}

/*#somoroffdisplay{
	width:50%;
	height:40%;
}*/


/*#somoroffdisplay > div:nth-child(2){
	height:100%;
}*/

.reelrequest{
	position: absolute;
	top:2400%;
	left:42%;
}



#etiennevim > div > a > img{
	width: 95%;
	position: absolute;
	top:5vh;
	right:2%;
	z-index:74;
}

@media only screen and (max-width: 420px) {
	/*.directorvim{
		position: absolute;
		bottom:20%;
	}

	.directortext{
		width: 110%;
	}*/
}

/*Antonio Navas CSS*/
#fp59e0dfe51a312{
    width:75%;
    /*padding-top:56.25%;*/
}

/*#somoroffdisplay{
	width:50%;
	height:40%;
}*/


/*#somoroffdisplay > div:nth-child(2){
	height:100%;
}*/

.reelrequest{
	position: absolute;
	top:2400%;
	left:42%;
}



#antoniovim > div > a > img{
	width: 95%;
	position: absolute;
	top:5vh;
	right:2%;
	z-index:74;
}

@media only screen and (max-width: 420px) {
	/*.directorvim{
		position: absolute;
		bottom:20%;
	}

	.directortext{
		width: 110%;
	}*/
}

/*new directors code for somoroff page*/

#fp59e0dfe51a312{
    width:75%;
    /*padding-top:56.25%;*/
}

/*#somoroffdisplay{
	width:50%;
	height:40%;
}*/


/*#somoroffdisplay > div:nth-child(2){
	height:100%;
}*/

.reelrequest{
	position: absolute;
	top:2400%;
	left:42%;
}



.directorvim > div > p > code > a > img{
	width: 100%;
	position: absolute;
	top:5vh;
	right:2%;
	z-index:74;
}

@media only screen and (max-width: 420px) {
	.directorvim > div > p > code > a > img{
	    margin-top:-30%;
	}

	.directortext{
		width: 130%;
		margin-left:-12%;
    }
    
    .vc_single_image-img{
        width:150%;
        height:125%;
    }
    
    .reelrequest{
       position:absolute;
       right:300%;
       top:300%;
    }
}







/*template lightbox shortcode

[video_lightbox_vimeo5 video_id="241913494" width="1920" height="1280" anchor="http://somoroffplus.com/wp-content/uploads/2017/10/Company-content-montage-13-liquid-montage.00_06_18_18.Still008.png"]


[video_lightbox_vimeo5 video_id="242131897" width="1920" height="1280" anchor="http://somoroffplus.com/wp-content/uploads/2017/06/justin1.jpg"]

[auto-iframe link="https://player.vimeo.com/video/242131724?autoplay=1&color=ef0000&title=0&byline=0&portrait=0" tag="startvid" width=100% height=90% autosize=yes]


[auto-iframe link="https://player.vimeo.com/video/242131724?autoplay=1&color=ef0000&title=0&byline=0&portrait=0" tag="startvid" width=100% height=90% autosize=yes]*/
