#page-2052{
    margin-top:-5%;
}

#mobilevimeo{
    display:none;
}


#skipperbutton{
    position:fixed;
    top:17%;
    bottom:0;
    left:82%;
    z-index:999;
}



#videobk{
    width:70vw;
    height:70vh;
}

#mobileimage{
    display:none;
}

#imgbk{
    display:none;
}
@media only screen and (max-width:800px){
    #skipperbutton{
        display:none;
    }
    
    #introvid {
        display:none;
        /*margin-top:-100%;
        height:120%;*/
    }
    
    #mobileimage {
        display:inline-block;
        margin-top:0%;
    }
    
    #desktopimage {
        display:none;
    }
    
    #mobilevimeo{
        display:block;
        margin-top:-10%;
    }
    
    #imgbk{
        display:block;
    }
    
    #videobk{
        width:105%;
        height:50%;
        margin-top:-10%;
        margin-bottom:-12%;
    }
}

@media only screen and (max-width: 470px) {
    #imgbk {
        display:block;
        margin-top:-55%;
        width:111%;
    }

    #mobilevimeo{
        display:block;
        margin-top:-70%;
        margin-bottom:-15%;
    }
    
    #videobk{
        width:112%;
        margin-top:-170%;
        margin-bottom:-73%;
    }

}

@media only screen and (max-width: 325px) {
    #imgbk {
        margin-top:-83%;
    }
    
    #videobk{
        margin-top:-40%;
    }
}

#page-2052{margin-top:-5%}#skipperbutton{position:fixed;top:17%;bottom:0;left:82%;z-index:999}#videobk{width:70vw;height:70vh}#mobileimage{display:none}#imgbk{display:none}@media only screen and (max-width:800px){#skipperbutton{display:none}}@media only screen and (max-width: 420px){#imgbk{display:block;margin-top:-110%;width:111%}#introvid{margin-top:-100%;height:120%}#desktopimage{display:none}#mobileimage{display:inline-block;margin-top:-115%}#videobk{margin-top:-10%;margin-bottom:-20%;width:112%;height:50%}}